{% extends "base.html" %}

{% load static thumbnail photos %}

{% block extra_head %}
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css"
/>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
{% endblock %}

{% block header %}
{% thumbnail peak.list_photo.image "1920x1080" crop="top" as im %}
<header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="{{ im.url }}" data-offset="0">
  <div class="container">
	  <h1>{{ peak.name }}</h1>
	  <h2>{{ peak.name_zh }}</h2>
  </div>
  <div class="attribution-banner">
    {% attribution peak.list_photo %}
  </div>
</header>
{% endthumbnail %}
{% endblock %}

{% block content %}
<section class="section-base">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
      {% thumbnail peak.list_photo.image "1920x1080" as im_full %}
      {% thumbnail peak.list_photo.image "800x500" crop="center" as im_small %}
      <a class="img-box lightbox" href="{{ im_full.url }}" data-lightbox-anima="fade-in" title='{% attribution peak.list_photo %}'>
        <img src="{{ im_small.url }}" alt="">
      </a>
      {% endthumbnail %}
      {% endthumbnail %}
    </div>
      <div class="col-lg-6" style="line-height:100%;">
        <div class="detail-list-container">
          <div class="detail-list-center">
            <h2 class="detail-list-header">At a glance</h2>
            <ul class="text-list text-list-line detail-list">
              <li><b>Difficulty</b><hr /><p>{{ peak.get_difficulty_display }}</p></li>
              <li><b>Height</b><hr /><p>{{ peak.height }} km</p></li>
              <li><b>Rank</b><hr /><p>#{{ peak.rank }}</p></li>
              <li><b>Latitude</b><hr /><p>{{ peak.latitude }}°N</p></li>
              <li><b>Longitude</b><hr /><p>{{ peak.longitude }}°E</p></li>
              <li><b>Locations</b><hr /><p>{{ peak.location_list_short|join:' // ' }}</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-base section-color detail-map section-google-map">
  <div id="leaflet">  
  </div>
</section>
{% if peak.routes.count %}
<section class="section-base section-color">
  <div class="container">
    <div class="title align-center align-left-md">
      <h2>Routes</h2>
      <p>Covering this peak</p>
    </div>
    <div class="detail-routes">
      {% for route in peak.routes.all %}
      {% include "peaks/_components/route.html" with route=route.route %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
<script>
var mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
var ocmLink = '<a href="http://thunderforest.com/">Thunderforest</a>';
var apiKey = '{{ map_api_key }}';
var tileUrl = 'http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png';
var peakLongitude = '{{ peak.longitude }}';
var peakLatitude = '{{ peak.latitude }}'

if (apiKey) {
  tileUrl += '?apikey=' + apiKey;
}

var map = new L.Map('leaflet', {
  layers: [
    new L.tileLayer(
      tileUrl, {
        attribution: '&copy; '+ mapLink + ' Contributors & ' + ocmLink,
        maxZoom: 18,
      }
    )
  ],
  center: [peakLatitude, peakLongitude],
  zoom: 15,
  scrollWheelZoom: false
});

var peakMarker = new L.AwesomeMarkers.icon({
  icon: 'mountain',
  prefix: 'fa',
  markerColor: 'darkred',
  iconColor: null
});

L.marker([peakLatitude, peakLongitude], {icon: peakMarker}).addTo(map);
</script>
{% endblock %}