{% load thumbnail %}

<div 
  class="list-item cnt-box cnt-box-blog-side boxed {{ peak.filter_tags|join:' ' }}" 
  data-href="{% url 'peaks-detail' slug=peak.slug %}"
  data-sort-level="{{ peak.difficulty_index }}"
>
  <a href="{% url 'peaks-detail' slug=peak.slug %}" class="img-box">
    {% thumbnail peak.list_photo.image "800x500" crop="center" as im_small %}
    <img src="{{ im_small.url }}" alt="{{ peak.name }}" />
    {% endthumbnail %}
  </a>
  <div class="caption">
    <div>
      <h2 class="align-left"><span class="sort-name">{{ peak.name }}</span></h2>
      <span class="align-right extra-field">{{ peak.get_difficulty_display }}</span>
    </div>
    <div>
      <p>
        {{ peak.name_zh }}
      </p>
      <ul class="icon-list icon-list-horizontal">
        <li><i class="fas fa-mountain text-xs"></i>{{ peak.height }} m</li>
        <li class="sort-rank"><i class="fas fa-sort-amount-up text-xs"></i>#{{ peak.rank }}</li>
        <li><i class="fas fa-map-marker text-xs"></i>{{ peak.latitude }}°N {{ peak.longitude }}°E</li>
      </ul>
    </div>
  </div>
</div>
