{% load static %}

<nav class="menu-classic align-right {% block extra_menu_classes %}{% endblock %}">
  <div class="container">
    <div class="menu-brand">
    </div>
    <i class="menu-btn"></i>
    <div class="menu-cnt">
      <ul id="main-menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/#routes">Routes</a>
        </li>
        <li>
          <a href="/#peaks">Peaks</a>
        </li>
        <li>
          <a href="/#peaks">Safety</a>
        </li>
        <li>
          <a href="/#about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
