{% extends "base.html" %}

{% load static %}

{% block extra_menu_classes %}menu-transparent light{% endblock %}

{% block content %}
<section id="home" class="section-image section-full-width-right light ken-burn-center" data-parallax="scroll" data-image-src="{% static 'media/img/homepage-banner.jpg' %}">
  <div class="container">
    <hr class="space-lg" />
    <hr class="space-sm" />
    <div class="row">
      <div class="col-lg-6">
        <h1 data-anima="fade-left" data-time="2000" class="text-lg text-uppercase text-black">Peaks of Taiwan</h1>
        <hr class="space-sm hidden-lg" />
        <p>A guide to Taiwan's high mountains</p>
      </div>
      <div class="col-lg-6">
        <div class="counter counter-vertical counter-icon">
          <div>
            <h3>Top peaks</h3>
            <div class="value">
              <span class="text-md" data-to="100" data-speed="2000">100</span>
            </div>
          </div>
        </div>
        <hr class="space-sm" />
        <div class="counter counter-vertical counter-icon">
          <div>
            <h3>Routes</h3>
            <div class="value">
              <span class="text-md" data-to="19" data-speed="2000">19</span>
            </div>
          </div>
        </div>
        <hr class="space-sm" />
        <div class="counter counter-vertical counter-icon">
          <div>
            <h3>Cabins and shelters</h3>
            <div class="value">
              <span class="text-md" data-to="43" data-speed="2000">43</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="space-lg" />
  </div>
</section>
<section id="routes" class="section-base">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="slider controls-right" data-options="type:carousel,nav:true,perView:2,perViewSm:1,gap:30,controls:out">
          {% include "_components/featured_route.html" with name="Yushan (Jade) main peak" days="1-2" num_peaks="3" difficulty="Easy" description="A classic 3-day trek summiting East Asia's tallest peak, one of the most accessible high mountains in Taiwan" location="Yushan National Park" img_path="media/img/route-jade.png" %}
          {% include "_components/featured_route.html" with name="Snow mountain" days="2" num_peaks="2" difficulty="Easy" description="Taiwan's second highest peak featuring ancient forests and fantastic views of Shei-pa National Park" location="Shei-pa National Park" img_path="media/img/route-snow.png" %}
          {% include "_components/featured_route.html" with name="Qilai South and Nanhua" days="2" num_peaks="2" difficulty="Easy" description="Follow the historic Nenggao cross-island trail through forests and alpine meadows, summiting two of Taiwan's top peaks " location="Taroko National Park" img_path="media/img/route-qilainanhua.png" %}
        </ul>
      </div>
      <div class="col-lg-4">
        <hr class="space-sm visible-sm" />
        <div class="title">
          <h2>Route guides</h2>
          <p>Detailed planning information</p>
        </div>
        <p>
          Dozens of routes cover Taiwan's high mountains, ranging from day hikes 
          to 10-day treks. These guides contain detailed information about 
          popular hikes including maps, permit information, campground and cabin
          details, as well as recommended itineraries.
        </p>
        <a href="#" class="btn btn-circle btn-xs">See all routes</a>
      </div>
    </div>
  </div>
</section>
<section id="peaks" class="section-slider alpins-slider light section-full-width-left" data-slider-parallax="true">
  <div class="background-slider">
    <div class="active" style="background-image:url({% static 'media/img/homepage-peaks-banner.jpg' %})"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <ul class="slider" data-options="type:slider,nav:true,arrows:true,perView:3,perViewLg:2,perViewSm:1,gap:30,controls:out">
          <li>
            {% include "_components/featured_peak.html" with name="Jade" ranking="1" height="3952" difficulty="BEGINNER" img_path="media/img/peak-jade.png" %}
            <hr class="space-xs">
            {% include "_components/featured_peak.html" with name="Beidawu" ranking="92" height="3090" difficulty="BEGINNER" img_path="media/img/peak-beidawu.png" %}
          </li>
          <li>
            {% include "_components/featured_peak.html" with name="Nanhua" ranking="75" height="3183" difficulty="BEGINNER" img_path="media/img/peak-nanhua.png" %}
            <hr class="space-xs">
            {% include "_components/featured_peak.html" with name="Nenggao" ranking="58" height="3261" difficulty="INTERMEDIATE" img_path="media/img/peak-nenggao.png" %}
          </li>
          <li>
            {% include "_components/featured_peak.html" with name="Hehuan" ranking="36" height="3416" difficulty="BEGINNER" img_path="media/img/peak-hehuan.png" %}
            <hr class="space-xs">
            {% include "_components/featured_peak.html" with name="Dabajian" ranking="27" height="3505" difficulty="BEGINNER" img_path="media/img/peak-dabajian.png" %}
          </li>
        </ul>
      </div>
      <div class="col-lg-6" data-anima="fade-left" data-time="2000">
        <h1 class="text-lg text-uppercase text-black">The 100 peaks</h1>
        <p>
          Completing the 100 peaks of Taiwan is the ultimate hiking challenge.
          Browse peaks organized by difficulty, route, cabin access, and more.
        </p>
        <a href="treks.html" class="btn btn-sm btn-circle">See all peaks</a>
        <hr class="space hidden-md" />
      </div>
    </div>
  </div>
  <hr class="space-sm" />
</section>
<section id="safety" class="section-base">
  <div class="container">
    <div class="title align-center">
      <h2>Safety Information</h2>
      <p>Hiking Taiwan's mountains legally and safely</p>
    </div>
    <table class="table table-grid table-border table-6-md">
      <tbody>
        <tr>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-map2"></i>
              <div class="caption">
                <h3>Permits</h3>
                <p>The different types and how to apply</p>
              </div>
            </div>
          </td>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-check"></i>
              <div class="caption">
                <h3>Insurance</h3>
                <p>Required for all high mountain routes</p>
              </div>
            </div>
          </td>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-bear"></i>
              <div class="caption">
                <h3>Hazards</h3>
                <p>What to watch out for on the trail</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-ambulance"></i>
              <div class="caption">
                <h3>Emergencies</h3>
                <p>How to get help if an accident happens</p>
              </div>
            </div>
          </td>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-bus"></i>
              <div class="caption">
                <h3>Transportation</h3>
                <p>Getting to and from the trailhead</p>
              </div>
            </div>
          </td>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-tent"></i>
              <div class="caption">
                <h3>Equipment</h3>
                <p>Recommended gear for the trail</p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section id="about" class="section-base section-color">
  <div class="container">
    <div class="title align-center align-left-md">
      <h2>About this site</h2>
      <p>A community resource</p>
    </div>
    <div class="row">
      <div class="col-lg-6 no-margin-md">
        <p>
          <img class="homepage-author-img" src="https://via.placeholder.com/120x160" />
          Peaks of Taiwan was created in 2020 by Ben Homnick with the goal of
          becoming an authoritative source of information for English-speaking 
          hikers wishing to explore Taiwan's high mountains. We hope to improve 
          access and safety awareness so more hikers can confidently enjoy 
          Taiwan's natural beauty. This site will always be open-source, community-supported and free to 
          access.
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          Peaks of Taiwan welcomes contributions from anyone. If you'd like to 
          contribute please choose a section below or <a href="#">contact us</a>.
        </p>
        <hr class="space-sm" />
        <ul class="accordion-list">
          <li>
            <a href="#">Data and Content</a>
            <div class="content">
              <p>
                We welcome any data or content additions to peaks, routes, or 
                informational articles. GPX routes and recommended itineraries 
                are especially useful.
              </p>
            </div>
          </li>
          <li>
            <a href="#">Photographs</a>
            <div class="content">
              <p>
                Any high-quality photographs of routes or peaks are welcome. 
                Creators will receive attribution for their work. Photographs 
                can be submitted <a href="#">here</a>.
              </p>
            </div>
          </li>
          <li>
            <a href="#">Code</a>
            <div class="content">
              <p>
                This project is open source and available on GitHub at 
                <a href="https://github.com/bhomnick/taiwanpeaks">https://github.com/bhomnick/taiwanpeaks</a>. 
                Please see contribution instructions there.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}