{% extends "base.html" %}

{% load static photos thumbnail %}

{% block extra_menu_classes %}menu-transparent light{% endblock %}

{% block content %}
{% photo_by_tag "homepage-header" as header_photo %}
{% thumbnail header_photo.image "1920x1080" crop="center" as im %}
<section id="home" class="section-image section-full-width-right light ken-burn-center" data-parallax="scroll" data-image-src="{{ im.url }}">
{% endthumbnail %}
  <div class="container" style="background-image:url({% static "media/img/img-taiwan-outline.png" %})">
    <hr class="space-lg" />
    <hr class="space-sm" />
    <div class="row">
      <div class="col-lg-6">
        <h1 data-anima="fade-left" data-time="2000" class="text-lg text-uppercase text-black">Peaks of Taiwan</h1>
        <hr class="space-sm hidden-lg" />
        <p>A guide to Taiwan's high mountains</p>
      </div>
      <div class="col-lg-6">
        <div class="counter counter-vertical counter-icon">
          <div>
            <h3>Top peaks</h3>
            <div class="value">
              <span class="text-md" data-to="100" data-speed="2000"></span>
            </div>
          </div>
        </div>
        <hr class="space-sm" />
        <div class="counter counter-vertical counter-icon">
          <div>
            <h3>Routes</h3>
            <div class="value">
              <span class="text-md" data-to="38" data-speed="2000"></span>
            </div>
          </div>
        </div>
        <hr class="space-sm" />
        <div class="counter counter-vertical counter-icon">
          <div>
            <h3>Cabins and shelters</h3>
            <div class="value">
              <span class="text-md" data-to="32" data-speed="2000"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="space-lg" />
  </div>
  <div class="attribution-banner">
    {% attribution header_photo %}
  </div>
</section>
<section id="routes" class="section-base">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="featured-routes slider controls-right" data-options="type:carousel,nav:true,perView:2,perViewSm:1,gap:30,controls:out">
          {% for featured_route in featured_routes %}
          {% include "_components/featured_route.html" with route=featured_route.route %}          
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-4">
        <hr class="space-sm visible-sm" />
        <div class="title">
          <h2>Route guides</h2>
          <p>Detailed planning information</p>
        </div>
        <p>
          Dozens of routes cover Taiwan's high mountains, ranging from day hikes 
          to 10-day treks. These guides contain detailed information about 
          popular hikes including maps, permit information, campground and cabin
          details, as well as recommended itineraries.
        </p>
        <a href="{% url 'routes-list' %}" class="btn btn-circle btn-xs">See all routes</a>
      </div>
    </div>
  </div>
</section>
{% photo_by_tag "homepage-peaks-banner" as peaks_banner %}
{% thumbnail peaks_banner.image "1920x1080" crop="center" as im %}
<section id="peaks" class="section-image alpins-slider light section-full-width-left ken-burn-center" data-parallax="scroll" data-image-src="{{ im.url }}">
{% endthumbnail %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <ul class="slider" data-options="type:slider,nav:true,arrows:true,perView:3,perViewLg:2,perViewSm:1,gap:30,controls:out,autoheight:false">
          {% for featured_peak in featured_peaks %}
          {% if forloop.counter0|divisibleby:2 %}
          <li>
          {% endif %}
          {% include "_components/featured_peak.html" %}
          {% if forloop.counter0|divisibleby:2 %}
            <hr class="space-xs">
          {% endif %}
          {% if not forloop.counter0|divisibleby:2 or forloop.last %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6" data-anima="fade-left" data-time="2000">
        <h1 class="text-lg text-uppercase text-black">The 100 peaks</h1>
        <p>
          Completing the 100 peaks of Taiwan is the ultimate hiking challenge.
          Browse peaks organized by difficulty, route, cabin access, and more.
        </p>
        <a href="{% url 'peaks-list' %}" class="btn btn-sm btn-circle">See all peaks</a>
        <hr class="space hidden-md" />
      </div>
    </div>
  </div>
  <hr class="space-sm" />
  <div class="attribution-banner">
    {% attribution header_photo %}
  </div>
</section>
<section id="safety" class="section-base">
  <div class="container">
    <div class="title align-center">
      <h2>Safety Information</h2>
      <p>Hiking Taiwan's mountains legally and safely</p>
    </div>
    <table class="table table-grid table-border table-6-md">
      <tbody>
        <tr>
          <td>
            <div class="icon-box icon-box-top align-center" data-href="{% url 'info-safety-permits' %}">
              <i class="im-map2"></i>
              <div class="caption">
                <h3>Permits</h3>
                <p>The different types and how to apply</p>
              </div>
            </div>
          </td>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-check"></i>
              <div class="caption">
                <h3>Insurance</h3>
                <p>Required for all high mountain routes</p>
              </div>
            </div>
          </td>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-bear"></i>
              <div class="caption">
                <h3>Hazards</h3>
                <p>What to watch out for on the trail</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-ambulance"></i>
              <div class="caption">
                <h3>Emergencies</h3>
                <p>How to get help if an accident happens</p>
              </div>
            </div>
          </td>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-bus"></i>
              <div class="caption">
                <h3>Transportation</h3>
                <p>Getting to and from the trailhead</p>
              </div>
            </div>
          </td>
          <td>
            <div class="icon-box icon-box-top align-center">
              <i class="im-tent"></i>
              <div class="caption">
                <h3>Equipment</h3>
                <p>Recommended gear for the trail</p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section id="about" class="section-base section-color">
  <div class="container">
    <div class="title align-center align-left-md">
      <h2>About this site</h2>
      <p>A community resource</p>
    </div>
    <div class="row">
      <div class="col-lg-6 no-margin-md">
        <p>
          <img class="homepage-author-img" src="{% static 'media/img/ben.jpg' %}" width="160" />
          Peaks of Taiwan was created in 2020 by Ben Homnick with the goal of
          becoming an authoritative source of information for English-speaking 
          hikers wishing to explore Taiwan's high mountains. We hope to improve 
          access and safety awareness so more hikers can confidently enjoy 
          Taiwan's natural beauty. This site will always be open-source, community-supported and free to 
          access.
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          Peaks of Taiwan welcomes contributions from anyone. If you'd like to 
          contribute please choose a section below or <a href="#">contact us</a>.
        </p>
        <hr class="space-sm" />
        <ul class="accordion-list">
          <li>
            <a href="#">Data and Content</a>
            <div class="content">
              <p>
                We welcome any data or content additions to peaks, routes, or 
                informational articles. GPX routes and recommended itineraries 
                are especially useful.
              </p>
            </div>
          </li>
          <li>
            <a href="#">Photographs</a>
            <div class="content">
              <p>
                Any high-quality photographs of routes or peaks are welcome. 
                Creators will receive attribution for their work. Photographs 
                can be submitted <a href="#">here</a>.
              </p>
            </div>
          </li>
          <li>
            <a href="#">Code</a>
            <div class="content">
              <p>
                This project is open source and available on GitHub at 
                <a href="https://github.com/bhomnick/taiwanpeaks">https://github.com/bhomnick/taiwanpeaks</a>. 
                Please see contribution instructions there.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
