/*

===================================================================
CUSTOM STYLES - CUSTOM.CSS
===================================================================
Table of contents

 - General
 - Homepage

------------------------------------------------------------------- 

# General
===================================================================

*/

.attribution-banner {
    position: absolute;
    right: 5px;
    bottom: 0px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.attribution-banner a {
    color: white;
}

.awesome-marker > i {
    color: white !important;
}

.leaflet-control a {
    color: #379cf4 !important;
}

.leaflet-control {
    border: 1px solid #379cf4 !important;
}

/*
# Homepage
===================================================================
*/

.homepage-author-img {
	float: left;
	margin: 5px 15px 15px 0;
}


/*
# Route list
===================================================================
*/

.route-list-filters select {
	width: 100%;
}

.route-list-filters label {
	font-weight: bold;
	display: block;
	width: 100%;
}

.route-list-item h2 {
    display: inline-block;
}

.route-list-item .caption {
    padding-bottom: 25px !important;
}

.route-list-item .extra-field {
    color: rgb(255, 255, 255);
	background-color: #379cf4;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: .5px;
	padding: 5px 10px;
	border-radius: 3px;
	float: right;
	margin-top: -8px;
}

.route-list-item ul {
    margin: 8px 0 0 0 !important;
}

.route-list-checkbox-group {
    margin-bottom: 15px;
}

.route-list-checkbox-group .form-checkbox {
    margin: 0 0 5px 0;
}

.route-list-checkbox-group h4 {
    margin-bottom: 5px;
}

.route-list-sorting {
    display: table;
    width: 100%;
    margin-top: -18px;
}

.route-list-sorting > * {
    display: table-cell;
    vertical-align: middle;
}

.route-list-sorting a.active {
    margin-right: 20px;
}

.route-list-sorting a.active:after {
    font-family: "Icons";
    content: "\68";
    position: absolute;
    top: 50%;
    right: -20px;
    transition: all .5s;
    transform: translateY(-50%) rotate(-270deg);
    text-transform: none;
}

.route-list-sorting .menu-inner {
    float: right;
}

.route-list-sorting .menu-inner li:before {
    height: 0 !important;
}

.route-list-sorting-label {
    display: inline-block;
    margin-top: 10px;
}

/*
# Route Detail
===================================================================
*/

.route-detail-top-container {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.route-detail-menu {
    display: inline-block;
    margin: 0 auto;
}

.route-detail-list-container {
}

.route-detail-itinerary .cnt-box {
   text-align: left !important;
}

.route-detail-itinerary .badge p {
    margin-bottom: 12px;
}

.route-detail-itinerary .badge h2 {
    margin-bottom: 20px;
}

.route-detail-itinerary .grid-box {
    grid-gap: 5px;
}

.route-detail-itinerary .route-detail-item {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

.route-detail-itinerary .route-detail-item i {
    display: inline-block;
    flex: 0 0 15px;
    text-align: center;
    margin-right: 8px;
    padding-top: 2px;
}

.route-detail-itinerary .route-detail-item span {
    display: inline-block;
    white-space: normal;
}

.route-detail-itinerary-arrow {
    color: #379cf4;
    display: inline-block;
    margin: 0 10px;
}

.route-detail-map {
    min-height: 600px;
}

.route-detail-map > div {
    width: 100%;
    height: 600px;
}

.route-detail-map .btn-gpx-download {
    background-color: white;
    margin: 10px 10px 0 0;
    display: block;
    pointer-events: auto;
}

.route-points {
    font-size: 0;
    line-height: 45px;
}

.route-point {
    display: inline-block;
    height: 36px;
    line-height: 20px;
    border: 2px solid #379cf4;
    border-radius: 14px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #379cf4;
    color: white;
}

.route-point-spacer {
    margin: 0 8px;
    display: inline-block;
    font-size: 14px;
}

.route-detail-practical .actions {
    text-align: left;
    padding-left: 30px;
}

.route-detail-banner .difficulty {
    line-height: 70px;
}
