{% extends "info/base.html" %}

{% block info-content %}
<h1>Permits</h1>

<p>Taiwan's previously strict permit requirements have been slowly relaxed in
recent years, and many routes that were previously closed to hikers are now 
open or no longer require entry permits. While this is a welcome trend, these 
changes are applied inconsistently across different counties and create
confusion around what types or permits are required for any particular 
route. These section aims to explain the different types of permits and when 
each is required, but when in doubt see the route description for your hike 
for detailed permit requirements.</p>

<h3>Types of permits</h3>

<p>There are two types of permits that may be required for a high mountain hike
and one or both may be necessary depending on the route:</p>

<p><strong>National Park Entry Permits</strong> (入園許可) are required for any 
route entering one of the three major national parks. These are applied for 
directly with the respective national park either in person at a park office 
or via an online application system.</p>

<p><strong>Police Mountain Entry Permits</strong> (入山許可) are required for 
certain routes depending on which counties the route crosses. These are applied 
for either in person at a police station near the trailhead or via an online 
application system.</p>

<h3>Permit requirements</h3>

<p>In general the rules for which permits are required is as follows:</p>

<ul>
  <li>
    <strong>A National Park Entry Permit is required</strong> if your route 
    enters a national park.</li>
  </li>
  <li>
    <strong>A Police Mountain Entry Permit is required</strong> if your route 
    enters an area other than:
    <ul>
      <li>Hualien Xiulin Township (花蓮縣秀林鄉)</li>
      <li>Chiayi Alishan Township (嘉義縣阿里山鄉)</li>
      <li>Nantou Renai Township (南投縣仁愛鄉)</li>
      <li>Miaoli Taian Township (苗栗泰安鄉)</li>
      <li>Taichung Heping District (台中市和平區)</li>
    </ul>
  </li>
</ul>

<h3>Applying for permits</h3>

<p>The online application systems are the easiest way to apply for permits. For
national park permits applications are available between 5 and 30 (Shei-pa 
allows application 2 months in advance) days ahead of your date of first entry.
Police permit applications are available at least 3 days before your date of 
first entry.</p>

<p>
  When applying, be sure to prepare:
  <ul>
    <li>IDs for each team member (passport or ARC)</li>
    <li>Basic information for each team member including:
      <ul>
        <li>Name</li>
        <li>Birth date</li>
        <li>Phone</li>
        <li>Address</li>
        <li>Name and phone number of an emergency contact</li>
      </ul>
    </li>
    <li>An emergency contact for the team including:
      <ul>
        <li>Name</li>
        <li>Phone number</li>
        <li>ID number</li>
      </ul>
    </li>
    <li>A detailed itinerary for each day's planned route</li>
  </ul>
</p>

<div class="align-center">
  <a target="_blank" href="https://nv2.npa.gov.tw/NM107-604Client/" class="btn btn-xs">Apply for Police Permit</a>
  <a target="_blank" href="https://npm.cpami.gov.tw/en/apply_1.aspx" class="btn btn-xs">Apply for Park Permit</a>
</div>
{% endblock %}
